extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque laoreet efficitur porttitor. Sed eleifend sodales bibendum. Sed accumsan scelerisque imperdiet.           
                p In mattis lobortis nunc sit amet ornare. Nullam feugiat velit quis turpis rhoncus, eu luctus est pellentesque. Nulla ut gravida turpis. Pellentesque mattis velit id erat sodales pretium. 
                p Praesent posuere lectus ac aliquam finibus. Nam gravida sapien eu nisi consectetur sodales. Ut blandit erat ac urna ornare, ac porttitor est aliquam. Mauris ut nisi ipsum. Pellentesque quis odio pharetra, tristique nisl ac, porta quam. Phasellus est sapien, sagittis in porttitor non, eleifend vitae ipsum. Curabitur tincidunt fringilla nulla a accumsan.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Morbi dapibus, elit in dictum hendrerit, nulla velit volutpat tellus, non consequat elit diam quis ligula. 
                .col-md-4
                    img(src="img/icono_destinos.svg" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Morbi dapibus, elit in dictum hendrerit, nulla velit volutpat tellus, non consequat elit diam quis ligula. 
                .col-md-4
                    img(src="img/icono_precios.svg" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Morbi dapibus, elit in dictum hendrerit, nulla velit volutpat tellus, non consequat elit diam quis ligula. 
